<title>
  All of the cats
</title>

<body>
  <ul>
    <% @cats.each do |cat| %>
    <li>
      <%= link_to "#{cat.name}", cat_url(cat) %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Make new cat", new_cat_url %>
  <br>
  <%= link_to "Make rental request", new_cat_rental_request_url %>
</body>
